@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  background-color: #fadadd;
  color: #73403c;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer utility {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col {
    @apply flex flex-col items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
}

@layer components {
  .section-1 {
    @apply bg-[#fadadd] bg-linear-to-br from-[#fadadd] to-[#fc9ead];
  }
  .bg-image {
    background-image: url("/images/sprinkler.png");
  }
  .bg-donut1 {
    background-image: url("/images/donut1.png");
  }
}
